# Database Configuration
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database_name"

# Application Configuration
PORT=8080
JWT_SECRET="YourJWTSecretKeyHere"
APP_SECRET="YourAppSecretKeyHere"
NODE_ENV="development"
FRONTEND_BASE_URL="http://localhost"
APP_BASE_URL="http://localhost"   
ACCESS_TOKEN_EXPIRES="15m"
RESET_TOKEN_EXPIRES_MINUTES=5
REFRESH_EXPIRES_DAYS=30

# Redis Configuration
REDIS_PASSWORD=your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379

# OpenAI Configuration
OPENAI_API_KEY=sk-proj-xxxxxxxx

# Google Cloud Configuration
GOOGLE_APPLICATION_CREDENTIALS=./src/your_path/google-credentials.json

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT=./src/your_path/firebase-auth.json

# Qdrant Configuration
QDRANT_URL=http://localhost:6333
CHAT_COLLECTION="memory"
STOCK_COLLECTION="stocks"
TRANSACTION_COLLECTION="transaction"

# MinIO Configuration
AWS_REGION=ap-southeast-1
MINIO_ENDPOINT=http://localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_BUCKET=your_bucket_name
MINIO_PORT=9000

# OAuth Configuration
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost/api/google/callback"
FACEBOOK_CLIENT_ID="your_facebook_client_id"
FACEBOOK_CLIENT_SECRET="your_facebook_client_secret"
FACEBOOK_CALLBACK_URL="http://localhost/api/facebook/callback"

# SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
EMAIL_FROM="your_email_from"