#POSTGRES
DATABASE_USER=postgres
DATABASE_PASSWORD=yourpassword
DATABASE_NAME=your_database_name
DATABASE_PORT=5432

# MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=yourpassword
MINIO_BUCKET=your_bucket_name
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_SERVER_URL=your_minio_server_url

# QDRANT
QDRANT_PORT=6333

# REDIS
REDIS_PASSWORD=yourpassword
REDIS_PORT=6379