*.pem
*.key

venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.git/
.gitignore
.vscode/
.idea/
.DS_Store

dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

README.md
docs/