DATABASE_URL=postgresql://your_username:your_password@localhost:5432/your_database_name
SCHEMA=public
QDRANT_HOST="localhost"        
QDRANT_PORT=6333
COLLECTION_NAME="stocks"
OPENAI_API_KEY=sk-proj-sk-proj-xxxxxxxx
